<div>
    <h2 id="page-heading">
        <span>Trocos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-troco" [routerLink]="['/troco/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Troco
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="trocos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Valor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let troco of trocos ;trackBy: trackId">
                <td><a [routerLink]="['/troco', troco.id, 'view' ]">{{troco.id}}</a></td>
                <td>{{troco.valor}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                queryParamsHandling="merge"
                                class="btn btn-info btn-sm"
                                (click)="calculaTroco('troco.valor')">
                        
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Calcular</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/troco', troco.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/troco', troco.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'troco/'+ troco.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <h1 style="text-align: left;">Moedas disponiveis para o troco:</h1>
    <img src="https://www.casadamoeda.gov.br/imagens/portalCMB/produtos-e-servicos/familia-moedas-real.jpg" style="max-width: 50%; max-height: 50%;"  alt="">
</div>
